@import '../../assets/styles/mixin.scss';

.container {
  @include center_mid();
  overflow: auto;
  min-width: 1024px;
  padding: 0 50px;
  .content_wrap {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
  }
}