@import '../../styles/mixin.scss';

.container {
  @include center_mid();
  display: none;
  position: fixed;
  background-color: rgba(102, 102, 102, 0.5);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999;

  &[data-open=true] {
    display: flex;
  }
  &[data-open=false] {
    display: none;
  }

  .modal_wrap {
    position: relative;
    .close_btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: red;
      cursor: pointer;
    }
  }
}