@import '../../assets/styles/mixin.scss';

.container {
  @include flex_direction(column);
  width: calc(100vw - 130px);
  min-height: 100px;
  margin: 0 65px;
  padding: 15px 0;
  border-top: 1.5px solid black;

  p {
    margin: 0;
  }
}